/* Basic styling for the navbar */

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  z-index: 1000;
  transition: background-color 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #22548A;
  }
  
  .shoping-cart{
    position: relative;
    color: #22548A;
  }

  .item-count{
    position: absolute;
    top:-12px;
    right:27%;
    color: #22548A;
    font-weight: 500;
  }
  .icon-container{
    display: flex;
    align-items: center;
  }

  .nav-links {
    display: flex;
    gap: 30px;
    /* border: 1px solid; */
    justify-content: space-evenly;
    width: 47vw;
  }
  
  .nav-links p{
    font-size: 1.1rem;
    font-weight: 500;
  }
  
  .nav-links p:hover{
    color: #0964c6ea;
    cursor: pointer;
  }

  /* Styling for the burger menu icon */
  .burger-menu {
    cursor: pointer;
    display: none;
  }
  
  .bar {
    height: 4px;
    width: 25px;
    background-color: white;
    transition: 0.3s;
  }

  #search{
    display: flex;
    border: 1px solid #22548A;
    align-items: center;
    border-radius: 20px;
  }

  #search input{
    /* border: 1px solid #22548A; */
    outline: none;
    border-radius: 20px;
    padding: 5px;
    color: #22548A;
    width: 17vw;
  }

  /* log in css  */
  .user-profile {
    position: relative;
    cursor: pointer;
  }
  
  .profile-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    /* color: white; */
    padding: 20px;
    border-radius: 5px;
  }
  .profile-dropdown p:hover{
    color: #0964c6ea;
  }
  .user-profile:hover .profile-dropdown {
    display: block;
  }

  .profile-dropdown p{
    font-size: 1.1rem;
    font-weight: 500;
    margin: 10px;
  }
  .log-in{
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    color: #1f5c9d;
    /* border: 1px solid; */
  }
  .log-in:hover{
    cursor: pointer;
  }
  /*  */
  
  /* Media query for responsiveness */
  @media (max-width: 768px) {
    .navbar{
        padding: 5px;
        height: 6vh;
       
    }
    .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 6.1vh;
      left: 0px;
      padding: 1px ;
      background-color: white;
      transition: background-color 0.3s ease;

    }
  
    .nav-links.open {
      display: flex;
    }
  
    .burger-menu {
      display: block;
      
    }
    .logo{
        font-size: 1rem;
    }
    
    #search input{
      /* border: 1px solid #22548A; */
      width: 40vw;
      outline: none;
      border-radius: 20px;
      padding: 3px;
      color: #22548A;
    }
  }
  